<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415058400350-33l4g9t7u7a4n9qcbtgfdbtgn8isf4aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415058400350-33l4g9t7u7a4n9qcbtgfdbtgn8isf4aq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415058400350-8phk67gsccvb0d16frhp6eno9056u17r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6qgvG5tNoSx1gWQM_VsqOpBkfUJbh6AM</string>
	<key>GCM_SENDER_ID</key>
	<string>415058400350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevanshShHarshitGa.BSF</string>
	<key>PROJECT_ID</key>
	<string>bsfapp-1c50d</string>
	<key>STORAGE_BUCKET</key>
	<string>bsfapp-1c50d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415058400350:ios:ff47d1d3001ab6b83c50cf</string>
	<key>DATABASE_URL</key>
	<string>https://bsfapp-1c50d.firebaseio.com</string>
</dict>
</plist>